body{
  font-size: 13px;
  line-height: 18px;
  margin:33px;
}// Place all the styles related to the books controller here.

th{
    padding-bottom:5px;
    margin:33px;
}// They will automatically be included in application.css.
// Y

td{
    padding-bottom:5px;
    margin:33px;
}